/Cs/ScreenKeyboad/obj
/Cs/ScreenKeyboad/bin
Cs/SampleApp/bin/x64/Debug/ScreenKeyboad.exe
Cs/SampleApp/bin/x64/Debug/SampleApp.pdb
Cs/SampleApp/bin/x64/Debug/SampleApp.exe.config
Cs/SampleApp/bin/x64/Debug/SampleApp.exe
Cs/SampleApp/bin/x64/Debug/Common.pdb
Cs/SampleApp/bin/x64/Debug/Common.dll
Cs/SampleApp/bin/x64/Debug/ScreenKeyboad.pdb
Cs/SampleApp/bin/x64/Debug/ScreenKeyboad.exe.config
Cs/SampleApp/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Cs/SampleApp/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Cs/SampleApp/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Cs/SampleApp/obj/x64/Debug/TempPE/Properties.Resources.Designer.cs.dll
Cs/SampleApp/obj/x64/Debug/SampleApp_MarkupCompile.i.cache
Cs/SampleApp/obj/x64/Debug/SampleApp_MarkupCompile.cache
Cs/SampleApp/obj/x64/Debug/SampleApp.pdb
Cs/SampleApp/obj/x64/Debug/SampleApp.g.resources
Cs/SampleApp/obj/x64/Debug/SampleApp.exe
Cs/SampleApp/obj/x64/Debug/SampleApp.csprojAssemblyReference.cache
Cs/SampleApp/obj/x64/Debug/SampleApp.csproj.GenerateResource.cache
Cs/SampleApp/obj/x64/Debug/SampleApp.csproj.FileListAbsolute.txt
Cs/SampleApp/obj/x64/Debug/SampleApp.csproj.CoreCompileInputs.cache
Cs/SampleApp/obj/x64/Debug/SampleApp.csproj.CopyComplete
Cs/SampleApp/obj/x64/Debug/SampleApp.Properties.Resources.resources
Cs/SampleApp/obj/x64/Debug/MainWindow.g.i.cs
Cs/SampleApp/obj/x64/Debug/MainWindow.g.cs
Cs/SampleApp/obj/x64/Debug/MainWindow.baml
Cs/SampleApp/obj/x64/Debug/Form/View/InputDialog.g.i.cs
Cs/SampleApp/obj/x64/Debug/Form/View/InputDialog.g.cs
Cs/SampleApp/obj/x64/Debug/Form/View/InputDialog.baml
Cs/SampleApp/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Cs/SampleApp/obj/x64/Debug/DesignTimeResolveAssemblyReferences.cache
Cs/SampleApp/obj/x64/Debug/App.g.i.cs
Cs/SampleApp/obj/x64/Debug/App.g.cs
Cs/SampleApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Cs/SampleApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Cs/SampleApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Cs/SampleApp/obj/Debug/SampleApp_MarkupCompile.i.lref
Cs/SampleApp/obj/Debug/SampleApp_MarkupCompile.i.cache
Cs/SampleApp/obj/Debug/SampleApp.csprojAssemblyReference.cache
Cs/SampleApp/obj/Debug/SampleApp.csproj.CoreCompileInputs.cache
Cs/SampleApp/obj/Debug/MainWindow.g.i.cs
Cs/SampleApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Cs/SampleApp/obj/Debug/App.g.i.cs
/Cs/SampleApp/bin
/Cs/SampleApp/obj
/Cs/.vs
VB/Common/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VB/Common/obj/x64/Debug/Common.vbproj.CoreCompileInputs.cache
VB/Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VB/Common/obj/Debug/Common.vbprojAssemblyReference.cache
VB/Common/obj/Debug/Common.vbproj.CoreCompileInputs.cache
VB/ScreenKeyboard/.vs/ScreenKeyboard/v15/Server/sqlite3/storage.ide-wal
VB/ScreenKeyboard/.vs/ScreenKeyboard/v15/Server/sqlite3/storage.ide-shm
VB/ScreenKeyboard/.vs/ScreenKeyboard/v15/Server/sqlite3/storage.ide
VB/ScreenKeyboard/.vs/ScreenKeyboard/v15/Server/sqlite3/db.lock
VB/ScreenKeyboard/.vs/ScreenKeyboard/v15/.suo
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/TempPE/My Project.Resources.Designer.vb.dll
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/ScreenKeyboard_MarkupCompile.i.lref
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/ScreenKeyboard_MarkupCompile.i.cache
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/ScreenKeyboard.vbprojAssemblyReference.cache
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/ScreenKeyboard.vbproj.CoreCompileInputs.cache
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/MainWindow.g.i.vb
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/Application.g.i.vb
VB/ScreenKeyboard/ScreenKeyboard/obj/Debug/ScreenKeyboard_MarkupCompile.lref
VB/ScreenKeyboard/ScreenKeyboard/obj/Debug/ScreenKeyboard_MarkupCompile.i.lref
VB/ScreenKeyboard/ScreenKeyboard/obj/Debug/ScreenKeyboard_MarkupCompile.i.cache
VB/ScreenKeyboard/ScreenKeyboard/obj/Debug/ScreenKeyboard_MarkupCompile.cache
VB/ScreenKeyboard/ScreenKeyboard/obj/Debug/ScreenKeyboard.vbprojAssemblyReference.cache
VB/ScreenKeyboard/ScreenKeyboard/obj/Debug/ScreenKeyboard.vbproj.CoreCompileInputs.cache
VB/ScreenKeyboard/ScreenKeyboard/obj/Debug/MainWindow.g.vb
VB/ScreenKeyboard/ScreenKeyboard/obj/Debug/MainWindow.g.i.vb
VB/ScreenKeyboard/ScreenKeyboard/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VB/ScreenKeyboard/ScreenKeyboard/obj/Debug/DesignTimeResolveAssemblyReferences.cache
VB/ScreenKeyboard/ScreenKeyboard/obj/Debug/Application.g.vb
VB/ScreenKeyboard/ScreenKeyboard/obj/Debug/Application.g.i.vb
VB/Common/bin/x64/Debug/Common.xml
VB/Common/bin/x64/Debug/Common.pdb
VB/Common/bin/x64/Debug/Common.dll
VB/Common/obj/x64/Debug/Common.xml
VB/Common/obj/x64/Debug/Common.vbproj.GenerateResource.cache
VB/Common/obj/x64/Debug/Common.vbproj.FileListAbsolute.txt
VB/Common/obj/x64/Debug/Common.pdb
VB/Common/obj/x64/Debug/Common.dll
VB/Common/obj/x64/Debug/AYam.Common.Resources.resources
VB/ScreenKeyboard/SampleProject/obj/Debug/Application.g.vb
VB/ScreenKeyboard/SampleProject/obj/Debug/Application.g.i.vb
VB/ScreenKeyboard/SampleProject/obj/Debug/SampleProject_MarkupCompile.i.cache
VB/ScreenKeyboard/SampleProject/obj/Debug/SampleProject.vbprojAssemblyReference.cache
VB/ScreenKeyboard/SampleProject/obj/Debug/SampleProject.vbproj.FileListAbsolute.txt
VB/ScreenKeyboard/SampleProject/obj/Debug/MainWindow.g.i.vb
VB/ScreenKeyboard/SampleProject/obj/Debug/Form/View/InputDialog.g.i.vb
VB/ScreenKeyboard/SampleProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VB/ScreenKeyboard/ScreenKeyboard/bin/x64/Debug/ScreenKeyboard.xml
VB/ScreenKeyboard/ScreenKeyboard/bin/x64/Debug/ScreenKeyboard.pdb
VB/ScreenKeyboard/ScreenKeyboard/bin/x64/Debug/ScreenKeyboard.exe.config
VB/ScreenKeyboard/ScreenKeyboard/bin/x64/Debug/ScreenKeyboard.exe
VB/ScreenKeyboard/ScreenKeyboard/bin/x64/Debug/Common.xml
VB/ScreenKeyboard/ScreenKeyboard/bin/x64/Debug/Common.pdb
VB/ScreenKeyboard/ScreenKeyboard/bin/x64/Debug/Common.dll
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/ScreenKeyboard_MarkupCompile.cache
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/ScreenKeyboard.xml
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/ScreenKeyboard.vbproj.GenerateResource.cache
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/ScreenKeyboard.vbproj.FileListAbsolute.txt
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/ScreenKeyboard.vbproj.CopyComplete
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/ScreenKeyboard.pdb
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/ScreenKeyboard.g.resources
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/ScreenKeyboard.exe
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/Form/View/StringKeyboard.g.vb
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/Form/View/StringKeyboard.g.i.vb
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/Form/View/StringKeyboard.baml
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/Form/View/NumericKeyboard.g.vb
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/Form/View/NumericKeyboard.g.i.vb
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/Form/View/NumericKeyboard.baml
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/DesignTimeResolveAssemblyReferences.cache
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/Application.g.vb
VB/ScreenKeyboard/ScreenKeyboard/obj/x64/Debug/AYam.ScreenKeyboard.Resources.resources
